{% extends 'anomaly.theme.demo::layouts/default' %}



{% block content %}
    <article class="page">
        <header class="entry-header">
            <h1 class="entry-title"><span>About</span></h1>
        </header><!-- .entry-header -->

        <div class="entry-content">
            <p><strong>Magazine<strong> is a clean and responsive multipurpose WordPress theme. It has very rich contents in the homepage. They can be grouped under categories or post types. Every news item has representative image thumbnail. So, your site will visually great.</strong></strong></p>

            <p>Though the Magazine theme is very <strong>easy to install</strong>, we are offering one time free installation service to each buyer. Surely, we do not underestimate your WordPress skills or you are a first time WordPress user because we know your time is more important than anything. Let our hands dirty and you can take your time doing other tasks. More than that, we do not want you get difficulties starting a site with Magazine theme. After you purchase, make a request soon to support@puriwp.com. If you prefer do it yourself, you should read the <strong>theme documentation</strong> at first.</p>

        </div><!-- .entry-content -->
    </article>

{% endblock %}